# Data Science Academy

### Fundamentos de Linguagem Python para Análise de Dados e Data Science

##### Introdução à Programação Orientada a Objetos

In [2]:
# Versão da Linguagem Python
from platform import python_version
print(python_version())

3.11.7

##### **OBJETOS**
- Em Python, tudo é objeto!

In [3]:
# Criando uma lista
lst_num = ["Data", "Science", "Academy", "Nota", 10, 10]

In [4]:
# A lista lst_num é um objeto, uma instância da classe lista em Python
type(lst_num)

list

In [5]:
print(type([]))

<class 'list'>

In [6]:
lst_num.count(10)

2

In [8]:
# Usamos a função type, para verificar o tipo de um objeto
print(type(10))
print(type([]))
print(type({}))
print(type(()))
print(type('a'))

<class 'int'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'str'>

In [11]:
# Criando um novo tipo de objeto chamado Carro
class Carro(object):
    pass

In [13]:
ferrari = Carro()

In [14]:
print(type(ferrari))

<class '__main__.Carro'>

In [15]:
# Criando uma classe 
class Estudantes:
    def __init__(self, nome,idade,nota):
        self.nome = nome
        self.idade = idade
        self.nota = nota

In [16]:
# Criando um objeto chamado Etudante1 a partir da classe Estudantes
Estudante1 = Estudantes("Bob",12,9.5)

In [17]:
Estudante1.nome

'Bob'

In [18]:
Estudante1.idade

12

In [19]:
Estudante1.nota

9.5

In [22]:
# Criando uma classe
class Funcionarios:
    def __init__(self, nome, salario, cargo):
        self.nome = nome
        self.salario = salario
        self.cargo = cargo
    
    def listFunc(self):
        print("Funcionário(a) %s tem salário de R$ %d e o cargo é %s" %(self.nome,self.salario,self.cargo))

In [23]:
# Criando um objeto chamado Func1 a partir da classe Funcionario
Func1 = Funcionarios("Mary",2000,"Cientista de Dados")

In [24]:
Func1.listFunc()

Funcionário(a) Mary tem salário de R$ 2000 e o cargo é Cientista de Dados

In [25]:
print("**** Usando Atributos ****")

**** Usando Atributos ****

In [26]:
hasattr(Func1, "nome")

True

In [27]:
hasattr(Func1, "salario")

True

In [29]:
setattr(Func1,"salario",4500)

In [30]:
getattr(Func1,"salario")

4500

In [31]:
delattr(Func1,"salario")

In [32]:
hasattr(Func1, "salario")

False